h2, h3, h4 {
    font-family: sans-serif;
    color: #2196f3;
}
p {
    margin: 0;
}

.module {
    max-width: 750px;
    padding-left: 15px;
}
.module_header {
    background-color: #2196f3;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
}
.module_header h2 {
    color: white;
    margin: 0;
    font-size: 26px;
}
.class h3 {
    margin: 0;
}
.class_body, .left_padded, .function_body {
    padding-left: 30px;
}
.function {
    margin-bottom: 20px;
}
a.function_title {
    font-size: 16px;
    font-weight: bold;
    color: #2196f3;
}
p.function_doc {
    margin: 10px 0 10px 10px;
}
p.parameter {
    margin-bottom: 5px;
}
p.parameter a, .constant {
    color: #2196f3;
}